@charset "UTF-8";

@font-face {
    font-family: 'titulo';
    src: url('fontes/PassionOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'texto';
    src: url('fontes/Sriracha-Regular.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: 'titulo', Arial, Helvetica, sans-serif;
    padding-top: 50px;
    font-size: 10vw;
    font-variant: small-caps;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    font-size: 105%;
}

p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

p > a:hover {
    text-decoration: underline;
}

main {
    font-family:'texto', Arial, Helvetica, sans-serif ;
    font-size: 3.5vw;
    line-height: 2em;
}

.normal p {
    padding-bottom: 50px;
}

section.imagem > p {
    background-color: hwb(0 0% 100% / 0.486);
    display: inline-block;
    margin-left: 20px;
    padding: 10px;
}

section.normal {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
}

section.imagem {
    background-color: darkgray;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    text-shadow: 1px 1px 2px black;
    box-shadow: inset 4px 4px 10px black;
}

#img01 {
    background-image: url('imagens/background001.jpg');
}

#img02 {
    background-image: url('imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.7vw;
    padding: 5px;
}